langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
pinecone
pymupdf
pypdf
streamlit
python-dotenv
pytest
pytest-cov
black
flake8
pylint
isort
ipython
langchain-mistralai
ipdb
python-docx